<h1>Lista de Países Hispanos</h1>

<div class="contenedor-tabla">
  <table class="tabla-paises">
    <thead>
      <tr>
        <th>Num</th>
        <th>Nombre Oficial</th>
        <th>Capital</th>
        <th>Población</th>
        <th>Área (km²)</th>
        <th>Límites</th>
        <th>Timezones</th>
        <th>Gini</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
      <%let sumaPoblacion = 0
        let sumaArea = 0
        let sumaGini= 0
        let cantidadGini = 0%>
      <%paises.forEach((pais, index)=> { %>
        <%sumaPoblacion += pais.population
          sumaArea += pais.area
          sumaGini += (pais.gini || 0)
          if(pais.gini) cantidadGini += 1%>
        <tr>

          <td>
            <%= index + 1 %>
          </td>

          <td>
            <%= pais.nombreOficial %>
          </td>

          <td>
            <%= pais.capital && pais.capital.length > 0 ? pais.capital.join(', ') : '-' %>
          </td>

          <td>
            <%= pais.population.toLocaleString() %>
          </td>

          <td>
            <%= pais.area.toLocaleString() %>
          </td>

          <td>
            <%= pais.borders && pais.borders.length> 0 ? pais.borders.join(', ') : 'Sin fronteras' %>
          </td>

          <td>
            <%= pais.timezones && pais.timezones.length > 0 ? pais.timezones.join(', ') : '-' %>
          </td>

          <td>
            <%= pais.gini ? pais.gini : 'N/A' %>
          </td>
          <td>
            <a class="btonEditar" href="/formulario/editar/<%=pais._id%>"><span class="material-symbols-outlined">edit</span></a>

            <form
              action="/paises/<%= pais._id %>/eliminar?_method=DELETE"
              method="POST"
              style="display:inline;"
              onsubmit="return confirm('¿Estás seguro de que quieres eliminar a <%= pais.nombreOficial %>?');">

              <button type="submit" class="btonEliminar"><span class="material-symbols-outlined">delete</span></button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
    <tfoot>
      <%let promedioGini = sumaGini / cantidadGini%>
      <tr>
        <td>Area total:</td>
        <td colspan="2" style="background-color: rgb(15, 15, 15);"><%=sumaArea %></td>
        <td>Poblacion total:</td>
        <td colspan="2" style="background-color: rgb(15, 15, 15);"><%=sumaPoblacion %></td>
        <td>Promedio gini:</td>
        <td colspan="2" style="background-color: rgb(15, 15, 15);"><%=promedioGini.toFixed(2) %></td>
      </tr>
    </thead>
  </table>
</div>